
/* Speider specific fonts */

$dinpro:		sans-serif;

/* Typography */

$serif:       TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

/* Colours */
$text               : #2e2d2d !global;
$footercolor		: #F1F1ED;
