/* Typography */

$serif:       'Montserrat', sans-serif;

/* Colours */
$text               : #2e2d2d !global;


$brandcolor			: #2B518C;
$brandcolor-darker	: #172d4f;
$brandcolor-light	: #4F7CAC;
$white				: #ffffff;
$backgroundcolor	: #E8ECF3;

/* Sceen sizes */ 
$laptop				: 1024px;
$tablet 			: 768px; 
$mobil				: 425px; 




