// Colours are global,
// we define them in here
// so we can quickly change
// the whole site with a
// few simple variables.
@import 'variables';

// All sections of the site
// get split into parts and
// imported here. Go to /parts/
// to find your styles!
@import 'parts';

* {
	margin: 0; 
	padding: 0; 
	font-family: 'Montserrat', sans-serif;
}

html {
	min-height: 100vh; 
}