#act {
}

.stopp {
	max-height: 0px;
}

.start {
	max-height: 750px;
}

.act {
	overflow: hidden;
	transition: max-height .5s ease-in-out;
	-webkit-transition: max-height .5s ease-in-out;
	-moz-transition: max-height .5s ease-in-out;
	-o-transition: max-height .5s ease-in-out;

	.inaktiv-d {
		height: 500px;
	}

	.aktiv-d {
		height: 750px;
	}

	&-div {
		position: relative;
		width: 100%; 
		overflow: hidden;
		background-color: $white;
		transition: .3s ease-in-out;
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		box-shadow: inset 0px 15px 20px -20px rgba(23,45,79,1), inset 0px -15px 20px -20px rgba(23,45,79,1);

		.off {
			display: none; 
		}	

		.on {
			display: block;
		}

		&-inner {
			width: 1000px; 
			position: absolute; 
			height: 85%; 
			left: 0; 
			right: 0; 
			top: 35px;
			margin: auto; 
			background-color: $white;

			&-left {
				width: 250px; 
				height: 100%;
				float: left; 
				top: 0; 
				color: $brandcolor;

				&-header {
					width: 100%; 
					text-align: center; 
					margin-top: 30px;
					font-size: 1.5rem;
				}

				img {
					width: auto;
					height: 120px;
					display: block;
					left: 0; 
					right: 0; 
					margin: auto;
					margin-top: 25px;
					margin-bottom: 25px;
				}

				&-des {
					width: 200px; 
					margin: 0px 25px;
					text-align: justify;
				}
			}

			&-right {
				width: 700px; 
				height: 100%;
				float: right; 
				top: 0; 

				&-box {
					width: 100%; 
					position: relative;
					background-color: $brandcolor;
					margin-bottom: 10px;
					color: $white;
					display: block;

					&-name {
						font-size: 1.5rem; 
						height: 60px; 
						margin-left: 20px; 
						line-height: 60px;
						display: inline-block;
					}

					&-right {
						height: 100%; 
						width: 50%; 
						float: right; 

						&-reisetid {
							line-height: 60px;
							display: inline-block;
						}

						&-les {
							line-height: 60px;
							display: inline-block;
							float: right;
							margin-right: 70px;
						}
					}

					.inaktiv {
						max-height: 60px;
					}

					.aktiv {
						//min-height: 60px;
						max-height: 310px;
					}

					&-inner {
						overflow: hidden;
						transition: .3s ease-in-out;
						-webkit-transition: .3s ease-in-out;
						-moz-transition: .3s ease-in-out;
						-o-transition: .3s ease-in-out;

						&-wrap {
							transition: .3s ease-in-out;
							-webkit-transition: .3s ease-in-out;
							-moz-transition: .3s ease-in-out;
							-o-transition: .3s ease-in-out;
						}
					}

					&-inner.inaktiv .act-div-inner-right-box-inner-wrap {
						background: 
					        url('../../img/icons/dropDown.png') no-repeat,
					        $brandcolor;
					    color: #444;
					    background-position: 650px 16px;
					    background-size: 30px;
					    color: $white;
					}

					&-inner.aktiv .act-div-inner-right-box-inner-wrap {
						background: 
					        url('../../img/icons/dropDown.png') no-repeat,
					        $brandcolor;
					    color: #444;
					    background-position: 650px -32px;
					    background-size: 30px;
					    color: $white;
					}

					.dropdown {
						height: 250px;
						width: 100%; 
						position: relative;
						box-sizing: border-box;
						border: 2px solid $brandcolor;

						&-inner {
							height: 230px;
							width: 680px;
							background-color: $backgroundcolor;
							position: absolute;
							color: $brandcolor;
							top: 0; 
							right: 0;
							bottom: 0; 
							left: 0;
							margin: auto;

							&-left {
								height: 200px;
								width: 310px;
								float: left; 
								margin: 15px 15px;
								color: $brandcolor;

								p {
									display: block; 
								}

								span {
									display: block;
									margin-top: 5px;
									margin-left: 10px;
								}

								.act-div-reisetid {
									display: none;
								}

								.bysykkel-lock {
									height: 50px; 
									width: 85px; 
									float: left; 
									margin: 15px 0 0 10px;
									display: inline-block;

									img {
										height: 30px; 
										display:inline-block;
										vertical-align: middle;
									}

									span {
										position: relative;
										margin-top: 0px; 
										font-size: 2rem;
										display:inline-block;
										vertical-align: middle;
									}
								}

								.bysykkel-bikes {
									height: 50px; 
									width: 110px; 
									margin: 10px 90px 0 10px;
									float: right; 
									display: inline-block;

									img {
										width: 45px; 
										//margin-top: -5px;
										display:inline-block;
										vertical-align: middle;
									}

									span {
										position: relative;
										font-size: 2rem;
										display:inline-block;
										vertical-align: middle;
									}
								}
							}

							&-image {
								height: 200px;
								width: 300px; 
								overflow: hidden; 
								float: right; 
								margin: 15px 15px;
								background-size: auto 100%;
								background-repeat: no-repeat;
							}

							.byLoader {
								.loadWrapper { 
									text-align: left; 
									font-size: 1.5rem;
								}
							}

							.stopLoader{
								.loadWrapper {
									width: 100%; 
									height: 100%; 
									text-align: center; 
									font-size: 3rem;
									margin-top: 50px;
								}
							}

							&-rep {
								width: 100%;
								height: 100%; 
								overflow: auto;  

								&-inner {
									width: 100%; 
									height: 30px;
									line-height: 30px;
									position: relative;
									border-bottom: 1px solid $brandcolor;

									:nth-child(1){
										float: left; 
										padding-left: 15px;
									}

									:nth-child(2){
										float: right; 
										padding-right: 15px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $laptop) {
	.stopp {
		max-height: 0px;
	}

	.start {
		max-height: 850px;
	}

	.act {
		.inaktiv-d {
			height: 600px;
		}

		.aktiv-d {
			height: 850px;
		}
		&-div {
			&-inner {
				width: 100%;
				top: 45px; 

				&-left {
					width: 500px; 
					height: 100px;
					float: none;
					left: 0; 
					right: 0;
					margin: auto;  
					top: 0; 
					color: $brandcolor;

					&-header {
						margin-top: 0; 
						display: none; 
					}
					img {
						width: auto; 
						height: 70px;
						margin-right: 20px;
						margin-bottom: 30px;
						float: left; 
						top: 0; 
						display: inline-block;
						margin-top: 0;
						margin-bottom: 0;
					}

					&-des {
						width: 450px; 
					}
				}

				&-right {
					float: none; 
					left: 0;
					right: 0;
					margin: auto;
				}
			}
		} 
	}
}

@media only screen and (max-width: $tablet) {
.stopp {
	max-height: 0px;
}

.start {
	max-height: 750px;
}

.act {
	.inaktiv-d {
		height: 500px;
	}

	.aktiv-d {
		height: 750px;
	}

		&-div {

			&-inner {
				width: 100%;
				top: 45px;
				height: 90%;

				&-left {
					display: none;
				}

				&-right {
					display: block;
					width: 90%; 
					overflow: hidden; 

					&-box {
						&-name {
							font-size: 1.1rem; 
						}

						&-right {
							height: 100%; 
							width: 50%; 
							float: right; 

							&-reisetid {
								font-size: 0.8rem;
								float: right; 
								padding-right: 70px;
							}

							&-les {
								display: none; 
							}
						}

						&-inner.inaktiv .act-div-inner-right-box-inner-wrap {
							background-position: 96% 16px;
						}

						&-inner.aktiv .act-div-inner-right-box-inner-wrap{
							background-position: 96% -32px;
						}

						.dropdown {  
							&-inner {
								width: 98%;
								overflow: hidden;
								top: 0; 
								right: 0;
								bottom: 0; 
								left: 0;
								margin: auto;

								&-left {

									p {
									}

									span {
									}
								}


								&-image {
									height: 200px;
									width: calc(100% - 380px); 
									right: 0; 
									position: absolute;
								}
							}
						}
					}
				}
			}
		} 
	}
}

@media only screen and (max-width: 600px) {
	.dropdown-inner-image {
		display: none;
	}

}

@media only screen and (max-width: $mobil) {
	.stopp {
		max-height: 0px;
	}

	.start {
		max-height: 770px;
	}

	.act {
		.inaktiv-d {
			height: 500px;
		}

		.aktiv-d {
			height: 770px;
		}
		&-div {
			&-inner {
				width: 100%;

				&-left {
					display: none;
				}

				&-right {
					.act-div-reisetid {
						display: block !important;

						a {
							text-decoration: underline; 
							color: $brandcolor; 
						}
					}

					p.act-div-reisetid {
						margin-bottom: 20px;
					}

					span.act-div-reisetid {
						margin-top: 10px;
					}

					&-box {
						&-right {
							&-reisetid {
								display: none;
							}
						}

						.inaktiv {
						max-height: 60px;
						}

						.aktiv {
							max-height: 330px;
						}

						.dropdown {  
							height: 270px;

							&-inner {
								height: 250px;

								&-left {
									height: 220px;
									width: 100%;
									max-width: 290px; 
									position: relative;

									p {
									}

									span {
									}
								}

								.byLoader { 
									.bysykkel-lock {
										height: 40px; 
										width: 80px; 
										margin: 15px 0 0 10px;

										img {
											height: 20px; 
										}

										span {
											margin-top: 0px; 
											font-size: 1.5rem;
										}
									}

									.bysykkel-bikes {
										height: 40px; 
										width: 90px; 
										margin: 10px 75px 0 10px;

										img {
											width: 35px; 
										}

										span {
											font-size: 1.5rem;
										}
									}
								}
							}
						}
					}
				}
			}
		} 
	}
}