.activities { 
	padding-top: 70px; 
	position: relative;
	width: 100%; 
	min-height: 200px; 
	max-height: 700px; 
	height: 200px;
	display: flex; 
	list-style: none;
	margin-bottom: 50px;

	&-inner {
		max-width: 1000px;
		position: absolute;
		left: 0; 
		right: 0; 
		margin: auto;
	}

	a {
		text-decoration: none;
	}

	.activity {
		display: inline-block;
		padding: 20px;
		margin-left: 10px;
		width: 107px;
		height: 115px;
		margin-top: 20px;
		position: relative;
		text-align: center;
		border-bottom: 1px solid transparent;

		&-icon {
			max-height: 80px;
			max-width: 80px;
			position: absolute;
			left: 0; 
			right: 0; 
			margin: auto; 
		}

		&-name {
			padding-top: 10px;
			position: absolute;
			font-size: 15px;
			bottom: 10px;
			left: 0; 
			right: 0; 
			margin: auto;
			color: $brandcolor;  
		}
	}

	.activity:hover {
		border-bottom: 1px solid $brandcolor;
	}
}

@media only screen and (max-width: $laptop) {
	.activities {
		height: 100px;
		margin-bottom: 0px;

		&-inner {
			min-width: 620px;
			max-width: 700px;
		}

		.activity {
			display: inline-block;
			margin-left: 4%;
			width: 6%;
			margin-top: 20px;
			height: 80px;

			&-icon {
				max-height: 50px;
				max-width: 50px;
			}

			&-name {
				font-size: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: $tablet) {
	.activities {
		height: 300px;
		margin-bottom: 0px;

		&-inner {
			width: 370px;
			min-width: 370px;
		}

		.activity {
			display: inline-block;
			margin-left: 4%;
			width: 55px;
			margin-top: 20px;
			height: 80px;

			&-icon {
				max-height: 50px;
				max-width: 50px;
			}

			&-name {
				font-size: 0.8rem;
			}
		}
	}
}