.footer {
	background-color: $brandcolor; 
	width: 100%; 
	height: 100px; 
	position: absolute;
	bottom: 0;
	overflow: hidden;

	&-inner {
		width: 90%;
		position: absolute;
		left: 0; 
		right: 0; 
		top: 0; 
		bottom: 0; 
		margin: auto; 
		line-height: 100px; 

		&-left {
			color: $white; 
			font-size: 1.2rem;
			float: left; 
		}

		&-right {
			float: right; 

			img {
				height: 30px; 
				margin: 35px 15px; 
			}
		}
	}
}

@media only screen and (max-width: $tablet) {
	.footer {
		height: 70px; 
		background-color: red; 

		&-inner {
			line-height: 70px;

			&-right {
				img {
					margin: 20px 15px; 
				}
			}
		}
	}
}

@media only screen and (max-width: $mobil) {
	.footer {
		background-color: green; 
	}

	.footer-inner-left {
		display: none;
	}

	.footer-inner-right {
		clear: both;
		left: 0; 
		right: 0; 
		margin: auto;

		img {
			margin: 20px 15px; 
		}
	}
}