.indexbody {
	width: 100%; 
	height: 100%; 
	background: no-repeat center center fixed;
	background-size: cover; 
}

.main-container {
	margin: 0; 
	padding: 0;
	width: 90%; 
	height: 80%; 
	position: absolute;
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto; 
	//background-color: red; 
	color: #ffffff; 
}

.left-col {
	width: 48%;
	height: 100%; 
	float: left;
	position: relative;
	//background-color: green;

	&-inner {
		width: 80%;
		margin: auto; 
		position: absolute;
  		top: 50%; left: 50%;
  		transform: translate(-50%,-50%);
  		-webkit-transform: translate(-50%,-50%);
  		-moz-transform: translate(-50%,-50%);
  		-o-transform: translate(-50%,-50%); 
		
		//background-color: yellow; 

		&-logo {
			width: 100%;
			margin-bottom: 40px;  
		} 

		&-text {
			text-align: justify;
			font-size: 1.1rem; 
		} 
	}
}

.right-col {
	width: 50%; 
	height: 100%; 
	float: right; 
	position: relative;


	#campuses {
		width: 100%;
		border-left: 2px solid white; 
		position: absolute;
  		top: 50%; left: 50%;
  		transform: translate(-50%,-50%);
  		-webkit-transform: translate(-50%,-50%);
  		-moz-transform: translate(-50%,-50%);
  		-o-transform: translate(-50%,-50%);
	}

	.campus-title {
		width: 100%; 
		text-align: center; 
		font-size: 3rem; 
		margin-bottom: 30px; 
	} 

	a:hover .campus-arrow {
		animation: arroweffect 0.6s infinite;
		-webkit-animation: arroweffect 0.6s infinite;
		-moz-animation: arroweffect 0.6s infinite;
		-o-animation: arroweffect 0.6s infinite;
	}

	@-webkit-keyframes arroweffect {
		0%   {margin-right: 20px;}
	    25%  {margin-right: 18px;}
	    50%  {margin-right: 20px;}
	    100% {margin-right: 22px;}
	} 

	.campus {
		border: 2px solid #fff;
		border-radius: 10px; 
		height: 120px;
		width: 450px; 
		position: relative;
		margin: auto; 
		margin-top: 20px; 
		display: block;  

		@media only screen and (max-width: $laptop) {width: 300px;} 

		&-icon {
			position: absolute; 
			height: 100px;
			top: 0; 
			bottom: 0; 
			left: 0; 
			margin: auto 20px; 

			@media only screen and (max-width: $laptop) {display: none;}
		}

		&-name {
			font-size: 2rem;
			line-height: 120px;
			color: #ffffff;
			position: absolute;
			margin-left: 140px; 

			@media only screen and (max-width: $laptop) {margin-left: 20px;}

		}

		&-arrow {
			position: absolute;  
			height: 50px;
			top: 0; 
			bottom: 0; 
			right: 0; 
			margin: auto 20px; 
		}
	}
}

@media only screen and (max-width: $tablet) {
	.main-container{
		height: 90%; 
	}
	.left-col {
		width: 100%; 
		height: 55%; 
		overflow: hidden;

		&-inner {
			width: 100%;
			height: 100%;  

			&-logo {
				width: 200px;
				margin: 0; 
			} 

			&-text {
				margin-top: 10px; 
				overflow: ellipsis;
			}
		}
	}

	.right-col {
		width: 100%; 
		height: 250px;  
		overflow: hidden;

		#campuses {
			border: none; 
			position: relative;
			width: 415px;
		}

		.campus-title {
			width: 100%; 
			text-align: center;
			font-size: 2.0rem;
		}

		.campus {
			height: 150px; 
			width: 120px; 
			display: inline-block;
			margin: 0px;
			text-align: center;
			margin: 0 5px;

			&-icon {
				display: block;
				margin: 10px; 
				position: relative;
			}

			&-name {
				font-size: 1rem;
				margin: 0;
				line-height: 0;
				position: relative;
				margin-top: 110px;
			}

			&-arrow {
				display: none;
			} 
		}
	}
}

@media only screen and (max-width: $mobil) {
	.left-col {
		display: none;
	}

	.right-col {
		width: 100%; 
		height: 100%;  

		#campuses {
			position: relative;
			width: 100%; 

		}

		.campus-title {
			width: 100%; 
			text-align: center;
			font-size: 2.0rem;
		}

		.campus {
			height: 120px; 
			width: calc(100% - 15px); 
			display: block;
			margin: 0px;
			text-align: center;
			margin: 10px 5px;

			&-icon {
				position: absolute; 
				top: 0; 
				bottom: 0; 
				left: 0; 
				margin: auto 20px;
			}

			&-name {
				position: absolute;
				font-size: 1.5rem;
				margin-top: 60px;
				left: 0;
				margin-left: 130px;

			}

			&-arrow {
				display: none;
			} 
		}
	}
}














