/* Typography */
/* Colours */
/* Sceen sizes */
.mainbody {
  background-color: #E8ECF3;
  position: relative;
  margin: 0;
  padding-bottom: 100px; }

.nav {
  background-color: #2B518C;
  width: 100%;
  height: 70px;
  top: 0;
  position: fixed;
  z-index: 100; }
  .nav-bar {
    width: 85%;
    height: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    margin: auto; }
    .nav-bar-campus {
      float: left;
      height: 50px;
      margin: 10px 5px;
      color: #ffffff;
      text-decoration: none; }
      .nav-bar-campus-icon {
        height: 100%; }
      .nav-bar-campus span {
        font-size: 1.5rem;
        position: relative;
        margin-left: 5px;
        top: -18px; }
    .nav-bar-logo {
      float: left;
      height: 50px;
      margin: 5px; }
    .nav-bar-icon {
      position: absolute;
      right: 0;
      margin: 20px 5px; }
    .nav-bar #nav-icon {
      width: 30px;
      height: 29px;
      position: relative;
      margin: auto 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
    .nav-bar #nav-icon span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: #ffffff;
      border-radius: 5px;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .nav-bar #nav-icon span:nth-child(1) {
      top: 2px; }
    .nav-bar #nav-icon span:nth-child(2), .nav-bar #nav-icon span:nth-child(3) {
      top: 12px; }
    .nav-bar #nav-icon span:nth-child(4) {
      top: 22px; }
    .nav-bar #nav-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .nav-bar #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-bar #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav-bar #nav-icon.open span:nth-child(4) {
      top: 12px;
      width: 0%;
      left: 50%; }

#opacity {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  width: calc(100% - 350px);
  left: calc(-100% + 350px);
  background-color: #ffffff;
  opacity: 0.5;
  display: block;
  z-index: 98; }

.menu {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  right: -350px;
  background-color: #2B518C;
  z-index: 99; }
  .menu-inner {
    position: relative;
    height: 90%;
    width: 350px; }
    .menu-inner-items {
      margin-top: 100px;
      width: 100%;
      text-align: center;
      list-style-type: none; }
      .menu-inner-items a {
        text-decoration: none;
        color: #ffffff;
        display: block;
        width: 100%;
        height: 100%; }
      .menu-inner-items-item {
        padding: 10px 0;
        display: block;
        font-size: 1.5rem; }
    .menu-inner-campuses {
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 10px; }
      .menu-inner-campuses-title {
        width: 100%;
        text-align: center;
        color: #ffffff; }
      .menu-inner-campuses-campus {
        display: inline-block;
        position: relative;
        width: 90px;
        height: 90px;
        margin-left: 17px;
        margin-top: 20px;
        line-height: 90px; }
        .menu-inner-campuses-campus-icon {
          height: 100%;
          width: 100%; }
        .menu-inner-campuses-campus-name {
          width: 100%;
          text-align: center;
          font-size: 3.0rem;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          color: white; }
        .menu-inner-campuses-campus .active {
          border-radius: 50%;
          background-color: #2B518C;
          opacity: 0.4;
          cursor: not-allowed; }

.footer {
  background-color: #2B518C;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  overflow: hidden; }
  .footer-inner {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 100px; }
    .footer-inner-left {
      color: #ffffff;
      font-size: 1.2rem;
      float: left; }
    .footer-inner-right {
      float: right; }
      .footer-inner-right img {
        height: 30px;
        margin: 35px 15px; }

.indexbody {
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  background-size: cover; }

.main-container {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #ffffff; }

.left-col {
  width: 48%;
  height: 100%;
  float: left;
  position: relative; }
  .left-col-inner {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    .left-col-inner-logo {
      width: 100%;
      margin-bottom: 40px; }
    .left-col-inner-text {
      text-align: justify;
      font-size: 1.1rem; }

.right-col {
  width: 50%;
  height: 100%;
  float: right;
  position: relative; }
  .right-col #campuses {
    width: 100%;
    border-left: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .right-col .campus-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px; }
  .right-col a:hover .campus-arrow {
    animation: arroweffect 0.6s infinite;
    -webkit-animation: arroweffect 0.6s infinite;
    -moz-animation: arroweffect 0.6s infinite;
    -o-animation: arroweffect 0.6s infinite; }
@-webkit-keyframes arroweffect {
  0% {
    margin-right: 20px; }
  25% {
    margin-right: 18px; }
  50% {
    margin-right: 20px; }
  100% {
    margin-right: 22px; } }
  .right-col .campus {
    border: 2px solid #fff;
    border-radius: 10px;
    height: 120px;
    width: 450px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    display: block; }
    @media only screen and (max-width: 1024px) {
      .right-col .campus {
        width: 300px; } }
    .right-col .campus-icon {
      position: absolute;
      height: 100px;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 20px; }
      @media only screen and (max-width: 1024px) {
        .right-col .campus-icon {
          display: none; } }
    .right-col .campus-name {
      font-size: 2rem;
      line-height: 120px;
      color: #ffffff;
      position: absolute;
      margin-left: 140px; }
      @media only screen and (max-width: 1024px) {
        .right-col .campus-name {
          margin-left: 20px; } }
    .right-col .campus-arrow {
      position: absolute;
      height: 50px;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 20px; }

@media only screen and (max-width: 768px) {
  .main-container {
    height: 90%; }

  .left-col {
    width: 100%;
    height: 55%;
    overflow: hidden; }
    .left-col-inner {
      width: 100%;
      height: 100%; }
      .left-col-inner-logo {
        width: 200px;
        margin: 0; }
      .left-col-inner-text {
        margin-top: 10px;
        overflow: ellipsis; }

  .right-col {
    width: 100%;
    height: 250px;
    overflow: hidden; }
    .right-col #campuses {
      border: none;
      position: relative;
      width: 415px; }
    .right-col .campus-title {
      width: 100%;
      text-align: center;
      font-size: 2.0rem; }
    .right-col .campus {
      height: 150px;
      width: 120px;
      display: inline-block;
      margin: 0px;
      text-align: center;
      margin: 0 5px; }
      .right-col .campus-icon {
        display: block;
        margin: 10px;
        position: relative; }
      .right-col .campus-name {
        font-size: 1rem;
        margin: 0;
        line-height: 0;
        position: relative;
        margin-top: 110px; }
      .right-col .campus-arrow {
        display: none; } }
@media only screen and (max-width: 425px) {
  .left-col {
    display: none; }

  .right-col {
    width: 100%;
    height: 100%; }
    .right-col #campuses {
      position: relative;
      width: 100%; }
    .right-col .campus-title {
      width: 100%;
      text-align: center;
      font-size: 2.0rem; }
    .right-col .campus {
      height: 120px;
      width: calc(100% - 15px);
      display: block;
      margin: 0px;
      text-align: center;
      margin: 10px 5px; }
      .right-col .campus-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 20px; }
      .right-col .campus-name {
        position: absolute;
        font-size: 1.5rem;
        margin-top: 60px;
        left: 0;
        margin-left: 130px; }
      .right-col .campus-arrow {
        display: none; } }
.activities {
  padding-top: 70px;
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 700px;
  height: 200px;
  display: flex;
  list-style: none;
  margin-bottom: 50px; }
  .activities-inner {
    max-width: 1000px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
  .activities a {
    text-decoration: none; }
  .activities .activity {
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
    width: 107px;
    height: 115px;
    margin-top: 20px;
    position: relative;
    text-align: center; }
    .activities .activity-icon {
      max-height: 80px;
      max-width: 80px; }
    .activities .activity-name {
      padding-top: 10px;
      position: absolute;
      font-size: 15px;
      bottom: 10px;
      left: 0;
      right: 0;
      margin: auto;
      color: #2B518C; }
  .activities .activity:hover {
    border-bottom: 1px solid #2B518C; }

.info {
  width: 100%;
  height: 700px;
  padding-top: 70px;
  position: relative;
  margin-bottom: 100px; }
  .info-inner {
    width: 1000px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
    .info-inner-left {
      float: left;
      width: 60%;
      height: 100%;
      padding-top: 20px;
      color: #2B518C; }
      .info-inner-left p {
        text-align: justify;
        margin-left: 20px;
        margin-bottom: 20px; }
      .info-inner-left h1 {
        text-decoration: underline;
        margin-bottom: 20px; }
      .info-inner-left-topwrap {
        margin-bottom: 40px; }
    .info-inner-right {
      float: right;
      width: 25%;
      height: 100%; }
      .info-inner-right-image {
        width: 100%;
        margin-top: 15px; }

.contact {
  width: 100%;
  height: 550px;
  position: relative;
  background: no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0px 30px 30px -30px #172d4f, inset 0px -30px 30px -30px #172d4f; }
  .contact-inner {
    width: 1050px;
    height: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #ffffff; }
    .contact-inner-header {
      width: 100%;
      text-align: center;
      margin-top: 15px; }
    .contact-inner-left {
      width: 45%;
      float: left;
      height: 436px;
      position: relative; }
      .contact-inner-left-image {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
      .contact-inner-left-info {
        width: 230px;
        height: 162px;
        padding: 20px;
        background-color: #2B518C;
        position: absolute;
        left: 30px;
        top: 150px; }
        .contact-inner-left-info-bit {
          width: 100%;
          height: 50px;
          display: block;
          margin-top: 5px; }
          .contact-inner-left-info-bit img {
            display: inline-block;
            max-height: 30px;
            max-width: 30px;
            margin: 10px 10px; }
          .contact-inner-left-info-bit p {
            display: inline-block;
            font-size: 10px;
            bottom: 20px;
            position: relative;
            font-size: 0.9rem; }
    .contact-inner-right {
      width: 45%;
      float: right;
      height: 436px;
      position: relative; }
      .contact-inner-right-wrap {
        width: 450px;
        height: 300px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
        .contact-inner-right-wrap .successMessage {
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          top: -35px;
          position: absolute; }
        .contact-inner-right-wrap input, .contact-inner-right-wrap textarea {
          padding: 5px;
          width: 435px;
          font-family: Helvetica, sans-serif;
          font-size: 1.4em;
          margin: 0px 0px 20px 0px;
          border: 1px solid #ffffff;
          background-color: transparent;
          color: #ffffff; }
        .contact-inner-right-wrap input::placeholder, .contact-inner-right-wrap textarea::placeholder {
          color: #ffffff; }
        .contact-inner-right-wrap textarea {
          height: 130px; }
        .contact-inner-right-wrap textarea:focus, .contact-inner-right-wrap input:focus {
          border: 1px solid #2B518C; }
        .contact-inner-right-wrap input.submit-button {
          width: 180px;
          height: 45px;
          padding: 10px 5px;
          float: right;
          color: #ffffff;
          background-color: transparent;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s; }
        .contact-inner-right-wrap input.submit-button:hover {
          background-color: #ffffff;
          color: #2B518C; }

.mapcontainer {
  height: 100%;
  width: 80%;
  position: relative;
  margin: auto;
  margin-top: 89px;
  margin-bottom: 30px; }
  .mapcontainer img {
    height: 20px;
    width: 20px; }
  .mapcontainer label > input {
    visibility: hidden;
    position: absolute; }
  .mapcontainer label > input + img {
    cursor: pointer;
    border: 2px solid transparent; }
  .mapcontainer label > input:checked + img {
    border: 2px solid #2B518C; }

.map {
  width: 70%;
  position: relative; }

.markerinfo {
  height: 83.2%;
  width: 19.8%;
  position: absolute;
  left: 72%;
  bottom: 0;
  border: 5px solid #2B518C;
  padding: 30px; }
  .markerinfo-title {
    background-color: #2B518C;
    height: 7%;
    margin: -32px;
    color: #ffffff;
    text-align: center;
    padding-top: 5%; }
  .markerinfo-content {
    padding-top: 50px;
    color: #2B518C; }

.stopp {
  max-height: 0px; }

.start {
  max-height: 750px; }

.act {
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  -webkit-transition: max-height .5s ease-in-out;
  -moz-transition: max-height .5s ease-in-out;
  -o-transition: max-height .5s ease-in-out; }
  .act .inaktiv-d {
    height: 500px; }
  .act .aktiv-d {
    height: 750px; }
  .act-div {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    box-shadow: inset 0px 15px 20px -20px #172d4f, inset 0px -15px 20px -20px #172d4f; }
    .act-div .off {
      display: none; }
    .act-div .on {
      display: block; }
    .act-div-inner {
      width: 1000px;
      position: absolute;
      height: 85%;
      left: 0;
      right: 0;
      top: 50px;
      margin: auto;
      background-color: #ffffff; }
      .act-div-inner-left {
        width: 250px;
        height: 100%;
        float: left;
        top: 0;
        color: #2B518C; }
        .act-div-inner-left-header {
          width: 100%;
          text-align: center;
          margin-top: 30px;
          font-size: 1.5rem; }
        .act-div-inner-left img {
          width: auto;
          height: 120px;
          display: block;
          left: 0;
          right: 0;
          margin: auto;
          margin-top: 25px;
          margin-bottom: 25px; }
        .act-div-inner-left-des {
          width: 200px;
          margin: 0px 25px;
          text-align: justify; }
      .act-div-inner-right {
        width: 700px;
        height: 100%;
        float: right;
        top: 0; }
        .act-div-inner-right-box {
          width: 100%;
          position: relative;
          background-color: #2B518C;
          margin-bottom: 10px;
          color: #ffffff;
          display: block; }
          .act-div-inner-right-box-name {
            font-size: 1.5rem;
            height: 60px;
            margin-left: 20px;
            line-height: 60px;
            display: inline-block; }
          .act-div-inner-right-box-right {
            height: 100%;
            width: 50%;
            float: right; }
            .act-div-inner-right-box-right-reisetid {
              line-height: 60px;
              display: inline-block; }
            .act-div-inner-right-box-right-les {
              line-height: 60px;
              display: inline-block;
              float: right;
              margin-right: 70px; }
          .act-div-inner-right-box .inaktiv {
            max-height: 60px; }
          .act-div-inner-right-box .aktiv {
            max-height: 310px; }
          .act-div-inner-right-box-inner {
            overflow: hidden;
            transition: .3s ease-in-out;
            -webkit-transition: .3s ease-in-out;
            -moz-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out; }
            .act-div-inner-right-box-inner-wrap {
              transition: .3s ease-in-out;
              -webkit-transition: .3s ease-in-out;
              -moz-transition: .3s ease-in-out;
              -o-transition: .3s ease-in-out; }
          .act-div-inner-right-box-inner.inaktiv .act-div-inner-right-box-inner-wrap {
            background: url("../../img/icons/dropDown.png") no-repeat, #2B518C;
            color: #444;
            background-position: 650px 16px;
            background-size: 30px;
            color: #ffffff; }
          .act-div-inner-right-box-inner.aktiv .act-div-inner-right-box-inner-wrap {
            background: url("../../img/icons/dropDown.png") no-repeat, #2B518C;
            color: #444;
            background-position: 650px -34px;
            background-size: 30px;
            color: #ffffff; }
          .act-div-inner-right-box .dropdown {
            height: 250px;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            border: 2px solid #2B518C; }
            .act-div-inner-right-box .dropdown-inner {
              height: 230px;
              width: 680px;
              background-color: #E8ECF3;
              position: absolute;
              color: #2B518C;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto; }
              .act-div-inner-right-box .dropdown-inner-left {
                height: 200px;
                width: 310px;
                float: left;
                margin: 15px 15px;
                color: #2B518C; }
                .act-div-inner-right-box .dropdown-inner-left p {
                  display: block; }
                .act-div-inner-right-box .dropdown-inner-left span {
                  display: block;
                  margin-top: 5px;
                  margin-left: 10px; }
                .act-div-inner-right-box .dropdown-inner-left .bysykkel-lock {
                  height: 50px;
                  width: 85px;
                  float: left;
                  margin: 15px 0 0 10px;
                  display: inline-block; }
                  .act-div-inner-right-box .dropdown-inner-left .bysykkel-lock img {
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle; }
                  .act-div-inner-right-box .dropdown-inner-left .bysykkel-lock span {
                    position: relative;
                    margin-top: 0px;
                    font-size: 2rem;
                    display: inline-block;
                    vertical-align: middle; }
                .act-div-inner-right-box .dropdown-inner-left .bysykkel-bikes {
                  height: 50px;
                  width: 110px;
                  margin: 10px 90px 0 10px;
                  float: right;
                  display: inline-block; }
                  .act-div-inner-right-box .dropdown-inner-left .bysykkel-bikes img {
                    width: 45px;
                    display: inline-block;
                    vertical-align: middle; }
                  .act-div-inner-right-box .dropdown-inner-left .bysykkel-bikes span {
                    position: relative;
                    font-size: 2rem;
                    display: inline-block;
                    vertical-align: middle; }
              .act-div-inner-right-box .dropdown-inner-image {
                height: 200px;
                width: 300px;
                overflow: hidden;
                float: right;
                margin: 15px 15px; }
              .act-div-inner-right-box .dropdown-inner .byLoader .loadWrapper {
                text-align: left;
                font-size: 1.5rem; }
              .act-div-inner-right-box .dropdown-inner .stopLoader .loadWrapper {
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 3rem;
                margin-top: 50px; }
              .act-div-inner-right-box .dropdown-inner-rep {
                width: 100%;
                height: 100%;
                overflow: auto; }
                .act-div-inner-right-box .dropdown-inner-rep-inner {
                  width: 100%;
                  height: 30px;
                  line-height: 30px;
                  position: relative;
                  border-bottom: 1px solid #2B518C; }
                  .act-div-inner-right-box .dropdown-inner-rep-inner :nth-child(1) {
                    float: left;
                    padding-left: 15px; }
                  .act-div-inner-right-box .dropdown-inner-rep-inner :nth-child(2) {
                    float: right;
                    padding-right: 15px; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

/*# sourceMappingURL=style.css.map */
